.change_input {
  width: 100%;
  height: 100%;
  overflow: hidden;
  word-break: break-all;
  margin-left: 0.05rem;
  line-height: 24px;
}
.change_input .change_input_name .change_input_hide_change {
  margin-left: 5px;
  cursor: pointer;
  display: none;
}
.change_input:hover .change_input_name .change_input_hide_change {
  display: inline-block;
}
.write_input {
  height: 100%;
  overflow: hidden;
}
.write_input .write_input_name {
  float: left;
}
.write_input .write_input_hide {
  height: 100%;
  float: left;
}
.write_input .write_input_hide .write_input_hide_yes {
  color: #40a9ff;
  margin-left: 5px;
}
.write_input .write_input_hide .write_input_hide_no {
  color: #40a9ff;
  margin-left: 5px;
}
