.tabs {
  height: 100%;
  overflow-y: auto;
  :global(.ant-tabs-bar) {
    margin-bottom:0.1rem;
  }
  :global(.ant-tabs-tab) {
    font-size: 14px;
    margin: 0 .07rem;
    line-height: .35rem;
    padding: 0 0.1rem 0.04rem 0.1rem;
  }
  :global(.ant-tabs-tab-active) {
   font-weight: 500;
  }
}
